/* ------------------------------ */
/* General
/* ------------------------------ */

main {
    padding: 0px;
}

/* Bottom Navigation */
.bottom-navigation {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* ------------------------------ */
/* Homepage
/* ------------------------------ */

/* ------------------------------ */
/* Catalog
/* ------------------------------ */

/* ------------------------------ */
/* PDP
/* ------------------------------ */

/* ------------------------------ */
/* Cart
/* ------------------------------ */

/* ------------------------------ */
/* Checkout
/* ------------------------------ */