const SampleHome = ({ tests, pageConfig }) => (
    <div className="container">
        <main>
            <h1 className="title">{pageConfig.title}</h1>
            <ul>
                {tests.map(test => (
                    <li>{test.name}</li>
                ))}
            </ul>
        </main>
    </div>
);

export default SampleHome;
