import fetch from "node-fetch";
import Home from "../src/components/home";
import Layout from "../src/theme/layout";


// This function gets called at build time on server-side.
// It won't be called on client-side, so you can even do
// direct database queries. See the "Technical details" section.
export async function getStaticProps() {
    // Call an external API endpoint to get posts.
    let res = await fetch("https://cloudreports.net/sample/api/countries.json");
    const tests = await res.json();

    const pageConfig = {
        title: "Homepage"
    };

  // By returning { props: pageConfig }, the Page component
  // will receive `pageConfig` as a prop at build time
  return {
      props: {
          tests,
          pageConfig
      }
  };
}

export default Layout(Home);
